//-  If you want to autofill the html stuff just type: ! and click tab button :D 

//- Cool trick for mutiple lis and write like: ul.dogs>li.dog.dog$$*10 
//- ul.dogs
//- 	li.dog.dog01
//- 	li.dog.dog02
//- 	li.dog.dog03
//- 	li.dog.dog04
//- 	li.dog.dog05
//- 	li.dog.dog06
//- 	li.dog.dog07
//- 	li.dog.dog08
//- 	li.dog.dog09
//- 	li.dog.dog10

//- Routing *** Video part 4
//- .wrapper 
//- 	//- p.hello Hello!
//- 	//- span#yo Yo!! 
//- 	//- p.hello Hello my name is #{name}
//- 	- const upDog = dog.toUpperCase();
//- 	p.hello Hello my dog name is #{dog.toUpperCase()}
//- 	img.dog(src="dog.png" alt='Dog ${dog}')

//- h2 
//- 	| Hello
//- 	em How are you?


//- Templating *** Video part 5
extends layout

//-  Custom header 
//- block header 
//- 	h1 Hello World!

block content
	p Hello

block footer 
	p Evil footer! 